---
import SideMenuItem from "./sideMenuItem.astro";


---

<nav class="flex flex-col flex-1 gap-2">
    <div class="bg-zinc-900 rounded-lg p-2">
        <ul>
            <SideMenuItem href="/">
                Inicio
            </SideMenuItem>
            <SideMenuItem href="/#">
                Buscar
            </SideMenuItem>
        </ul>        
    </div>

    <div class="bg-zinc-900 rounded-lg p-2 flex-1">
        <ul>
            <SideMenuItem href="">
                Tu biblioteca                        
            </SideMenuItem>
        </ul>
    </div>
</nav>